<h1>Edit <%= @name %> workshop </h1>

<form action="/<%= @name %>" method="post">
  <input type="hidden" name="_method" value="put">
  <fieldset>
    <textarea name="description" cols="80" rows="10" value="<% @description %>" id="description">
    <%= @description %>
    </textarea>
  </fieldset>
  <input type="submit" name="delete" value="Edit workshop">
</form>
